<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>api.projfinder.com &middot; documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="z-pulley, gis, spatial">
    <meta name="author" content="Aaron Racicot">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/projfinder.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-57x57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/favicon.png">
  </head>
  <body>
    <!-- NAVBAR ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">api.projfinder.com</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="http://projfinder.com">projfinder.com</a></li>
                <li class="active"><a href="/documentation">Docs</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
		<!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">Login</li>
                    <li><a href="/login/">Client</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Request Account</li>
                    <li><a href="/users/create/">New Client</a></li>
                  </ul>
                </li>
		--!>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/opensource_final.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Full app over at projfinder.com</h1>
              <p class="lead">You have some data and dont know the projection... we are here to help</p>
              <a class="btn btn-large btn-primary" href="http://projfinder.com">Head over to projfinder.com</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/gulf_spill_final.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Clean API for doing the heavy lifting</h1>
              <p class="lead">Clean separation of client and server...</p>
              <a class="btn btn-large btn-primary" href="/api">Learn more...</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/big_data_final.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Clear documentation</h1>
              <p class="lead">Documentation for easy learning...</p>
              <a class="btn btn-large btn-primary" href="/documentation">Learn more...</a> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes ======================== -->
    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="featurette" id="about">
        <img class="featurette-image pull-right" src="/static/img/about.png">
        <h2 class="featurette-heading">About <br><span class="muted">ProjFinder is brought to you by CUGOS</span></h2>
        <p class="lead">Used as a core learning tool and hack project ProjFinder has helped many CUGOS members learn all aspects of the Web Stack and GeoSpatial technologies.</p>
      </div>
      <hr class="featurette-divider" id="contact">
      <div class="featurette">
        <img class="featurette-image pull-left" src="/static/img/contact.png">
        <h2 class="featurette-heading">Contact <br><span class="muted">Get in touch... we would love to talk to you </span></h2>
        <p class="lead">
          <address>
          <strong>CUGOS (Aaron Racicot)</strong><br>
          POBox 1614<br>
          Langley, WA 98260<br>
          <abbr title="Phone">P:</abbr> (360) 221-2441
          </address>
           
          <address>
          <strong>Information</strong><br>
          <a href="mailto:#">projfinder@cugos.org</a>
          </address>
	</p>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 CUGOS &middot; <!-- <a href="/privacy">Privacy</a> &middot; <a href="/terms">Terms</a> --> </p>
      </footer>

    </div><!-- /.container -->



    <!-- Javascript  ====================================== -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
</html>
