<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>mapfart.com &middot; Mapfart API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="aaron, racicot, z-pulley, gis, spatial">
    <meta name="author" content="Aaron Racicot">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/mapfart.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/favicon.png">
  </head>
  <body onload="init()">
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">mapfart.com</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="http://mapfart.com/recent">Recent Farts</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    

    <!-- MAIN CONTENT -->
    <div class="maincontent">
      <div class="container">
	<h2>What the hell is a <span class="muted">mapfart?</span></h2>
	<h3><i>A simple web service to take a geodata POST and <span class="muted">try</span> to make a map from it.</i></h3>
	<h2>What do I need to <span class="muted">install</span> to use it?</h2>
	<h3><i>Nothing... it just uses <span class="muted">Curl</span></i></h3>
	<h2>What the hell is <span class="muted">Curl?</span></h2>
	<h3><i>This service might not be for you...</i></h3>
	<h2>When might this be <span class="muted">useful?</span></h2>
	<h3><i>In a <span class="muted">headless situation</span> (i.e. on a remote server) where you want to <span class="muted">preview</span> the geodata... Then again... maybe it is totally useless...</i></h3>
	<h2>What do I <span class="muted">get?</span></h2>
	<h3><i>Nothing... you POST.  All kidding aside, you get a PNG image back.</i></h3>
	<h2>What <span class="muted">formats</span> are supported?</h2>
	<h3><i>Well, we dont actually "support" anything... this is a toy.  If you want to try it out, send over GeoJSON, WKT, or WKB and cross your fingers.</i></h3>
	<h2>What <span class="muted">tools</span> are being used?</h2>
	<h3><i>GeoJSON is rendered using Mapserver, WTK and WKB are rendered via Geometry Tools (just for fun)</i></h3>
	<h2>What was the <span class="muted">inspiration?</span></h2>
	<h3><i>Well, <a href="http://datafart.com">datafart.com</a> of course.</i></h3>
	<br>
	<h2><span class="muted">Set it up</span> please:</h2>
	<h3>Simple (default)</h3>
	<pre>
alias mapfart='curl -H "Content-Type: application/octet-stream" --data-binary @- mapfart.com/api/fart'
	</pre>
	<h3>Crunchy (change output projection) (example EPSG:3857)</h3>
	<pre>
alias mapfart='curl -H "Content-Type: application/octet-stream" --data-binary @- mapfart.com/api/3857/fart'
	</pre>
	<h3>Hipster (change output projection AND mapsize) (example EPSG:3857, 2000x2000px)</h3>
	<pre>
alias mapfart='curl -H "Content-Type: application/octet-stream" --data-binary @- mapfart.com/api/3857/2000/2000/fart'
	</pre>
	<br>
	<br>
	<h2><span class="muted">Examples</span> please:</h2>

	<h3>Simple GeoJSON file</h3>
	<script src="https://gist.github.com/aaronr/5199177.js"></script>
	<pre>
z-air:~ aaronr$ cat geojson.json | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>Local Shapefile via ogr2ogr</h3>
	<pre>
z-air:~ aaronr$ ogr2ogr -f GeoJSON /vsistdout/ ne_110m_admin_0_countries.shp -sql "select * from ne_110m_admin_0_countries where name='United States'" | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>Remote Shapefile via ogr2ogr</h3>
	<pre>
z-air:~ aaronr$ ogr2ogr -f GeoJSON /vsistdout/ /vsizip/vsicurl/http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_countries.zip/ne_110m_admin_0_countries.shp -sql "select * from ne_110m_admin_0_countries where name='United States' or name='Germany'" | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>Postgis via ogr2ogr</h3>
	<pre>
z-air:~ aaronr$ ogr2ogr -f "GeoJSON" /vsistdout/ PG:dbname=test ne_admin_bounds -where "name = 'United States'" | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>WKT as text</h3>
	<pre>
z-air:~ aaronr$ echo 'LINESTRING(3 4,10 50,20 25)' | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>WKB as text (bbox of United States)</h3>
	<pre>
z-air:~ aaronr$ echo '0103000020E61000000100000005000000F8DD2EC7507965C020EC866D8BEA3240F8DD2EC7507965C08CAA3399E5D651409AF04BFDBCBD50C08CAA3399E5D651409AF04BFDBCBD50C020EC866D8BEA3240F8DD2EC7507965C020EC866D8BEA3240' | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>WKB (single shape) via psql</h3>
	<pre>
z-air:~ aaronr$ psql -A -t -c "select geom from ne_admin_bounds where name = 'United States'" testdb | mapfart
	</pre>

	<hr class="featurette-divider">
	<h3>WKT using <a href="http://jericks.github.com/geometrycommands/index.html">Geometry Commands</a></h3>
	<pre>
z-air:~ aaronr$ geom buffer -g 'LINESTRING(3 4,10 50,20 25)' -d 2 | mapfart
	</pre>



      </div>    
    </div>    

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 Aaron Racicot &middot;</p>
    </footer>

    <!-- Javascript  ====================================== -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="http://code.onion.com/fartscroll.js"></script>
    <script src="/static/js/fart.js"></script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1253169-9']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </body>
</html>
